services:
  mongodb:
      image: mongo:7
      restart: unless-stopped
      ports:
        - "27017:27017"
      volumes:
        - mongo_data:/data/db
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      args:
        MONGODB_URI: ${MONGODB_URI}
        GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
        GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/health-node
      - NEXTAUTH_URL=http://localhost:3000
    depends_on:
      - mongodb
volumes:
  mongo_data:
