services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/health-node
      - NEXTAUTH_URL=http://localhost:3000
    depends_on:
      - mongodb
    volumes:
      - ./:/app
      - /app/node_modules
  mongodb:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
